body {
  text-align: center;
  background-image: url('https://media.istockphoto.com/id/1092139474/photo/empty-green-casino-poker-table-cloth-with-spotlight.jpg?s=612x612&w=0&k=20&c=0TwjfTAxxMdBPKBnnrhRDmsvYS7ui3Ly_u9HZms8QAc=');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #f2f2f2;
}

h1 {
  color: #333;
}

button {
  margin: 10px;
  padding: 10px 20px;
  font-size: 16px;
}

#game-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

#dealer-container {
  flex-basis: 20%;
}

#player-container {
  flex-basis: 70%;
}

.player {
  margin-top: 20px;
  color: white;
}

.player-cards,
.dealer-cards {
  color: white;
}

#dealer-container h2 {
  color: white;
}

.player-name {
  font-weight: bold;
}

.player-buttons {
  margin-top: 10px;
}

.player {
  margin-bottom: 20px;
}

.player-cards {
  margin-bottom: 10px;
}

.player-buttons {
  margin-bottom: 10px;
}

.chip-btn {
  margin-right: 5px;
}

#scoreboard-container {
  margin-top: 20px;
}

#scoreboard {
  border-collapse: collapse;
  margin: 0 auto;
}

#scoreboard caption {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

#scoreboard th,
#scoreboard td {
  padding: 10px;
  border: 1px solid #ccc;
}

#scoreboard th {
  background-color: #f2f2f2;
  font-weight: bold;
  text-align: center;
}

#scoreboard tr:nth-child(even) {
  background-color: #f9f9f9;
}

#reset-stats-btn {
  background-color: red;
  color: white;
  font-weight: bold;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  margin-top: 10px;
}

#reset-stats-btn:hover {
  background-color: darkred;
  cursor: pointer;
}

.player-cards,
.dealer-cards {
  display: none;
}
